<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>YouTube Subtitle Exporter</title>
</head>
<body>
    <h1>YouTube Subtitle Exporter</h1>
    <form action="" method="get">
        <label for="url">字幕を取得したいYouTubeの動画URLを入力してください。</label>
        <input type="text" id="url" name="url" placeholder="https://www.youtube.com/watch?v=">
        <button type="submit">送信</button>
    </form>
</body>
</html>